.input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }

  .inputLogin {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }

  .inputEdit{
    width: 30%;
    margin: 20px;
  }
  
  .editP{
    margin:50px 0;
  }

  #editH1{
    margin:50px 0;
  }

  label{
    font-size: 20px;
    margin-top: 50px;
  }