.navRight{
    float:right;
    margin-top: 0;
    height: inherit;
}

.navLeft{
    float: left;
    margin-top: 0;
    height: inherit;
}

.NavContainer{
    height: 50px;
    width: 100%;
    background-color: #6bbe92;
}
.NavItem:focus{
    background-color: #3CBA77;
}
.NavItem{
    margin-top: 0px;
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
    height: 100%;
}
.NavItem a{
    margin: auto 0;
}

.NavItem:hover{
    background-color: #3CBA77;
    cursor: pointer;
}

.navLeftBlocks{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.linkP{
    text-decoration: none;
    color: #fff;
    margin: 0;
    vertical-align: middle;
    height: 50px;
}

.vertical-center {
    display: flex;
    align-items: center;
  }

a{
  text-decoration: none;
  vertical-align: middle;
  padding-bottom: 5px;
}